.header {
  display: flex;
  align-items: center;
  max-width: 100%;
  background-color: #672280;
}

.troll-face {
  width: 31px;
  height: 26px;
  margin-left: 5px;
  margin-right: 5px;
}

.react--course {
  position: absolute;
  right: 10px;
}